<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- Featured frameworks and fonts -->
  <!-- <link rel="stylesheet" href="../assets/css/skeleton-2.0.4/css/normalize.css"/> -->
  <!-- <link rel="stylesheet" href="../assets/css/skeleton-2.0.4/css/skeleton.css" /> -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    type="text/css">

  <!-- custom styles -->
  <link rel="stylesheet" href="../assets/css/styles.css" />
  <link rel="stylesheet" href="../assets/css/grid.css" />
</head>