@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

:root {
  --header-font: 'Pathway Gothic One';
  --primary-font: 'Merriweather';
  --seconday-font: 'Open Sans Condensed';
  --primary-color: #980000:
}

main {
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

/* 

body {
  font-family: var(--primary-font, Georgia, 'Times New Roman', Times, serif);
  font-size: large;
}


section {
  padding: 1.5rem;
}

/* HEADER */
/* header {
  /* margin-bottom: 20px; */


/* logo/branding */
/* 
.brand {
  font-family: var(--header-font, sans-serif);
  ;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.subtitle {
  font-size: 30px;
}

.brand a {
  text-decoration: none;
  text-transform: none;
  color: #980000;
} */

/* end logo/branding */

/* menu/navigation */
/* nav ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

nav a {
  font-family: var(--seconday-font, sans-serif);
  text-decoration: none;
  text-transform: none;
  color: #980000;
  margin: auto;
  width: 100%;
  padding: 10px 0px;
} */

/* end menu/navigation */
/* END HEADER */

/* .jumbotron {
  padding: 1.5rem;
  background: #1EAEDB;
} */

.clear-both {
  clear: both;
}

/* @media screen and (min-width: 1200px) {
  body {
    max-width: 75%;
    margin: auto;
  }
} */