<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="container">
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
{% include scripts.html %}
</body>

</html>